html {
	height: 100%;
	width:  100%;
}

body {
	background-color: #151515;
	color: #c7c7c7;
	font-size: 13px;
	font-family: Arial, sans;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
	width:  100%;
	background-image: url(/img/wild_oliva.png);
}

#gameContainer {
	height: 100%;
	width:  100%;
}

#preloader {
	position: absolute;
	font-family: Helvetica, Arial, sans-serif;
	top: 40%;
	left: 50%;
	width: 150px;
	margin-left: -75px;
}