<div id="gamescreens">
	<div id="intro">

		<div class="init">
			<a href="#start" class="btn_start">START</a>
		</div>

		<div class="cue_pm cue hide">
			<img src="/img/cue_pm.jpg" alt="" class="cueimg">
		</div>

		<div class="cue_ladiesman cue hide">
			<img src="/img/cue_ladiesman.jpg" alt="" class="cueimg">
		</div>

		<div class="cue_londoner cue hide">
			<img src="/img/cue_londoner.jpg" alt="" class="cueimg">
		</div>

		<div class="cue_instructions hide">
			<a href="#gameon" class="btn_start">START</a>
		</div>

		
	</div>

	<div id="game_screen" class="hide">
		
		<div id="combo_timer" class="hide">
			<div class="icon">
				<img src="/img/icon_arrow-left.png" alt="" class="iLeft">
				<img src="/img/icon_arrow-up.png" alt="" class="iUp">
				<img src="/img/icon_arrow-right.png" alt="" class="iRight">
				<img src="/img/icon_arrow-down.png" alt="" class="iDown">
				<span></span>
			</div>
			<div class="tier1 tier">
				<div class="tier2 tier">
					<div class="tier3 tier">
						<div class="tier4 tier">
							<div class="tier5 tier"></div>						
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel p1" rel="LP">
			<div class="inner">
				<div class="icon">
					<img src="/img/icon_finger-left.png" alt="">
				</div>
				<div class="title">Left arm</div>
			</div>
		</div>

		<div class="panel p2" rel="RP">
			<div class="inner">
				<div class="icon">
					<img src="/img/icon_finger-right.png" alt="">					
				</div>			
				<div class="title">Right arm</div>
			</div>			
		</div>

		<div class="clear"></div>

		<div class="panel p3" rel="LK">
			<div class="inner">
				<div class="icon">
					<img src="/img/icon_boot-left.png" alt="">										
				</div>						
				<div class="title">Left leg</div>
			</div>			
		</div>

		<div class="panel p4" rel="RK">
			<div class="inner">
				<div class="icon">
					<img src="/img/icon_boot-right.png" alt="">										
				</div>						
				<div class="title">Right leg</div>
			</div>			
		</div>
		
	</div>
</div>