<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Sinterbaas - Shameless Thom Hos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta charset="UTF-8" />
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 

	<link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<body>
	<div id="specials" class="">
		<div class="special_panel">
			<img src="/img/special_1.jpg" alt="">
			<div class="bottom"><span>1</span></div>
		</div>
		<div class="special_panel">
			<img src="/img/special_2.jpg" alt="">
			<div class="bottom"><span>2</span></div>
		</div>
		
		<div class="clear"></div>

		<div class="special_panel"></div>
		<div class="special_panel"></div>
	</div>
</body>
</html>

